phi-2-vllm:
  api_type: vllm_local
  model: microsoft/phi-2
  endpoint: http://localhost:8000
  max_tokens: 1024
  temperature: 0.7

qwen3-4b-vllm:
  api_type: vllm_local
  model: Qwen/Qwen3-4B
  endpoint: http://localhost:8000
  max_tokens: 8000
  temperature: 0.7

qwen3-4b-inst-2507-vllm:
  api_type: vllm_local
  model: Qwen/Qwen3-4B-Instruct-2507
  endpoint: http://localhost:8000
  max_tokens: 4000
  temperature: 0.7

qwen25-7b-inst-vllm:
  api_type: vllm_local
  model: Qwen/Qwen2.5-7B-Instruct
  endpoint: http://localhost:8000
  max_tokens: 8000
  temperature: 0.7
